/*******************************************************************************
Dawson's Medical Tools CSS rules
The CSS spec is http://www.w3.org/TR/CSS21/

The "#" character means this is an element id.
These rules apply to the element whose id attribute is "xxxx". Id attribute
values are unique, so there can only be 1 mainContent.

The "." character means this is any element with a specific value of the class attribute.
Class attribute values are NOT unique, so it can apply to many elements in one document.
*/
/*******************************************************************************



/* //////////////////////////////////////////////// */
/* Main Page */
/* //////////////////////////////////////////////// */
body { background: #ffffff font-family: Verdana, Arial, Helvetica, sans-serif; margin: 0; padding: 0;}

a:link, a:visited {color: #0677D7; text-decoration: none; }
a:visited {text-decoration: none;}
a:hover, a:active {text-decoration: underline;}
a img {border: none;}

h1 {margin: 0 0 0 0px;}
h2 {font: 185% Georgia, serif; letter-spacing: -0.2px; margin: 15px 0 2px 0; padding-bottom: 5px; }
h3 {font: 130% Georgia, serif; margin-top: 0; }

p, li {font: 90% Arial, Verdana, sans-serif; letter-spacing: 0;}

#entirePage{ width: 100%; }
#mainContent {float: left; width: 90%; background: transparent;	padding: 20px 10px 10px 40px; }



/* //////////////////////////////////////////////// */
/* Header */
/* //////////////////////////////////////////////// */
#header {background: #CEF6F5 repeat-x; margin: 0; padding: 0;}
#header a {color: #000; text-decoration: none; }
#header h1 {margin: 0 0 0 20px;}
#header span {font: bold 180% Arial; letter-spacing: 18px; margin: 0 0 0 20px; }



/* //////////////////////////////////////////////// */
/* Navigation Bar */
/* //////////////////////////////////////////////// */
#navBar{width: 90%; overflow: hidden; margin-left: 22px; margin-top:10px;}
#navBar ul{margin: 0; padding: 0; }
#navBar ul li{float: left; display: inline; margin: 0; padding: 0; }
#navBar ul li a{padding: 2px 10px; display: block; text-decoration: none; }

/* A non-current tab */
#navBar ul li a:link, #navBar ul li a:visited{
    background: #F5EFFB top left repeat-x;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    color: #000;
    sfont-size:80%;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}
#navBar ul li a:hover, #navBar ul li a:active{text-decoration: none;}

/* The current tab */
#navBar ul li.navBarActiveTab a:link, #navBar ul li.navBarActiveTab a:visited{
    background: #fff top left repeat-x;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    color: #000;
    font-weight:bold;
    font-size:100%;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #FFFFFF;
}



/* //////////////////////////////////////////////// */
/* Control Panels */
/* //////////////////////////////////////////////// */

.CPLabInCellStyle { height:35px; width:120px; }
.LabInCellStyle { height:50px; width:120px; }
.ToggleValueCellStyle { height:20px; width:90px; text-align:center; }

.planOnStyle { height:50px; width:90px; border:1px outset;  box-shadow: 2px 2px #888888; color:#000000; background-color:#00FF00; }
.planOffStyle { height:50px; width:90px; border:1px outset; box-shadow: 2px 2px #888888; color:#000000; background-color:#FFFFCC; }

.ToggleStyle { height:30px; width:90px; border:1px outset; color:#000000; background-color:#717D7E; }
.UnitsButtonStyle { width:25px; height:20px; border:1px outset;  box-shadow: 2px 2px #888888; color:#000000; background-color:#CFECEC; font-size:12px; text-align:center; }

.OptionBtnStyle { height:30px; width:120px; border:1px outset;  box-shadow: 2px 2px #888888; color:#000000; background-color:#CFECEC; }
.optionOnStyle { height:30px; width:120px; border:1px outset;  box-shadow: 2px 2px #888888; color:#000000; background-color:#CFECEC; }
.optionOffStyle { height:30px; width:120px; border:1px outset;  box-shadow: 2px 2px #888888; color:#000000; background-color:#CFECEC; }

.smallTextBox {width: 50px; height: 20px; padding: 1px}

tr.top td { border-top: thin solid black; }
tr.bottom td { border-bottom: thin solid black; }
tr.boxed td { border-top: thin solid black; border-bottom: thin solid black; }

.CPOptionOnStyle { height:25px; width:90px; border:1px outset;  box-shadow: 2px 2px #888888; color:#000000; background-color:#00FF00; }
.CPOptionOtherStyle { height:25px; width:90px; border:1px outset;  box-shadow: 2px 2px #888888; color:#000000; background-color:#00FFFF; }
.CPOptionOffStyle { height:25px; width:90px; border:1px outset;  box-shadow: 2px 2px #888888; color:#000000; background-color:#FF0000; }
.CPOptionDisabledStyle { height:25px; width:90px; border:1px outset;  box-shadow: 2px 2px #888888; color:#000000; background-color:#AAAAAA; }

.CPGroupOnStyle { height:25px; width:90px; border:1px outset;  box-shadow: 2px 2px #888888; color:#000000; background-color:#FFFFFF; }
.CPGroupOffStyle { height:25px; width:90px; border:1px outset;  box-shadow: 2px 2px #888888; color:#000000; background-color:#AAAAAA; }

.CPGBNaGoodStyle { height:25px; width:90px; border:1px outset;  box-shadow: 2px 2px #888888; color:#000000; background-color:#00FF00; }
.CPGBNaBadStyle { height:25px; width:90px; border:1px outset;  box-shadow: 2px 2px #888888; color:#000000; background-color:#FF0000; }
.CPGBNaOffStyle { height:25px; width:90px; border:1px outset;  box-shadow: 2px 2px #888888; color:#000000; background-color:#AAAAAA; }


